<%- include('./templates/head.ejs') %>
<header class="container my-4">
    <h1 class="text-center"><a href="/">Alquila tu Vehículo</a></h1>
    <div class="logs">
        <p>Para realizar una reserva:  </p>
        <a href="/register" class="btn btn-primary">Registrate</a> 
        <p>o</p>
        <a href="/login" class="btn btn-primary">Accede</a>
</header>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <% tipos.forEach(function(modelo) { %>
                <li><a href="/<%= modelo.tipo %>"><%= modelo.tipo %></a></li>
            <% }); %>
        </ul>
    </nav>
    <body>
        <main class="container-sm">
            <div>
                <% if (data1 && data1.length> 0) { %>
                    <% data1.forEach(function(modelo) { %>
                        <a href="http://localhost:3000/<%= modelo.tipo %>/<%= modelo.nombre_modelo %>"  class="quitar">
                        <div class="card">
                            <h2>
                                <%= modelo.nombre_modelo %>
                            </h2>
                            <p>Unidades Totales: <%= modelo.unidades_totales %>
                            </p>
                            <p>Unidades Alquiladas: <%= modelo.unidades_alquiladas %>
                            </p>
                            <p>Personas: <%= modelo.personas %>
                            </p>
                            <p>Puertas: <%= modelo.puertas %>
                            </p>
                            <p>Cambio: <%= modelo.cambio %>
                            </p>
                            <p>Maletas: <%= modelo.maletas %>
                            </p>
                            <p>Precio por Día: $<%= modelo.precioDia %>
                            </p>
                            <div>
                                <img src="../img/<%= modelo.nombre_modelo %>.webp"
                                    alt="imagen de <%= modelo.nombre_modelo %>">
                                    <hr>
                                    <p class="text-center"><%= modelo.tipo %></p>
                            </div>
                        </div>
                    </a>
                        <% }); %>
                            <% } else { %>
                                <p>No hay modelos disponibles para este tipo.</p>
                                <% } %>
            </div>
        </main>
        <!-- <script src="https://cdn.jsdelivr.net/npm/simple-datatables@9.0.3/dist/umd/simple-datatables.min.js"></script>
    <script src="js/script.js"></script> -->
    </body>

    </html>